@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

// Vitae.js
.sidebar-puntos { text-align: center; border-top-color: 4px solid salmon;	
h1 { color: lightgray; }
span { color: lightseagreen }
ul {li{ list-style: none; color: whitesmoke; font-size: 2rem;}  }
// filter: blur(5px);
// -webkit-filter: blur(5px);
} // sidebar-puntos



// menu lateral Vitae.js
.flyoutMenu {
    width: 50vw;
    height: 100vh;
    background-color: #FFE600;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
	
	
    
  }
   
  .flyoutMenu.hide {
    transform: translate3d(-100vw, 0, 0);
  }
   
  .flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
    color: white;
    border-color:salmon;
    border-width:1px; 
    border-style:solid;
	background-color: rgba(255, 255, 255, 0.589);
    width: 60vw;
    transition: transform 0.3s ease-in-out;
    border-radius:5px;
    
	
    
	.menu-lateral { 
      padding-top: 0p; 
	  position: absolute;
      hr {
        width: 150px;
        
        padding-left: 50px;
       
        margin: auto;
        float: center;
        border: 0; 
        height: 2px;
        background: whitesmoke;
        background-image: linear-gradient(to right, #ccc, salmon, #ccc); }
      
    } // menu-lateral
  } // flyoutMenu.show
   
  .flyoutMenu h2 a {
    font-family: 'Amatic SC', cursive;
    color: salmon;
    margin-left: 15px;
    text-decoration: none;
    font-size: 8rem;
    padding-top: 10px;
  }
   
  .flyoutMenu h2 a:hover {
    text-decoration: underline;
    color: salmon;
    span {color: salmon;}
  }

  h2:nth-child(2) {
    color: salmon; text-decoration: none;
  }

  h2:nth-child(2) a:hover {
    color: #FF0040; text-decoration: underline;
    span {color: #FF0040;}
  }

  // boton circular
  .roundButton {
    background-color: #96D9FF;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #0065A6;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
  }
   
  .roundButton:hover {
    background-color: #96D9FF;
    cursor: pointer;
    border-color: #003557;
    transform: scale(1.2, 1.2);
  }
   
  .roundButton:active {
    border-color: #003557;
    background-color: #FFF;
  }
