@import url(https://fonts.googleapis.com/css?family=Monserrat);
@import url(https://fonts.googleapis.com/css?family=Shrikhand);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Kanit);
.navbar-side { background-color: firebrick;
 width: 100%; 
.bm-item-list {
  overflow-y: hidden;
}
 
 
 a {
	text-align: center;
	color: lightblue;
	background-color: rgba(0, 0, 0, 0.24);
	height: 25%;
	text-decoration: none;
	
	
	&:hover,
	&:focus {
	color: #c94e50;
	  }
	}
} // navbar-side


// Vitae.js
.page-vitae{
  background-image: '/images/sky.jpg';
  height: 1000px;
  // NavbarV.js
 .navbar-v {
   nav{
    height: 58px;
    background-color: transparent; 
    ul{ 
      
      li:first-child { font-family: 'Kanit' , serif;
      color: darkblue; font-size: 5rem;
      display: inline; padding-top: 4px; } } // ul
      }
      li{color:whitesmoke;  float: right; }
  } // navbar-v
} // page-vitae

body{   background: url(https://farm9.staticflickr.com/8597/16224246466_971e58f2f8_b.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }