@import url(https://fonts.googleapis.com/css?family=Monserrat);
@import url(https://fonts.googleapis.com/css?family=Shrikhand);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Kanit);
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
.navbar-side {  width: 100%; 
	
	.menu-item-h { color: orange; } // punto
	.menu-item-h:nth-child(3) {color: yellowgreen; } // acerca
	.menu-item-h:nth-child(5) {color: lightblue;} // contacto
	
	
	
	// @media (min-width: 69rem) { .menu-item-h, menu-item-a, menu-item-c {display: flex;}  }  
	
  a {
	text-align: center;
	color: lightblue;
	background-color: rgba(0, 0, 0, 0.24);
	height: 25%;
	text-decoration: none;
	border-right-color: oranged;
	
	
	.g{ display: none; }
	
	
	&:hover,
	&:focus {
	color: #c94e50; } // focus
	} // a	
	
} // navbar-side

.roundButton {
  background-color: #96D9FF;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #0065A6;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}
.roundButton:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.2, 1.2);
}
 
.roundButton:active {
  border-color: #003557;
  background-color: #FFF;
}

.flyoutMenu {
  width: 100vw;
  height: 100vh;
  background-color: #FFE600;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}
 
.flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
 
.flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
 
.flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
 
.flyoutMenu h2 a:hover {
  text-decoration: underline;
}




body{   background: url(https://farm9.staticflickr.com/8597/16224246466_971e58f2f8_b.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }