.sidebar-puntos { text-align: center; border-top-color: 4px solid salmon;
	
h1 { color: lightgray; }
span { color: lightseagreen }
ul {
li{ list-style: none; color: whitesmoke; font-size: 2rem;}  }
} // sidebar-puntos

